<div class="container">
  <h1>My tasks</h1>

  <div class="tasks">
    <ul>
      <% @tasks.each do |task| %>
        <% if task.completed == true %>
        <li><i class="far fa-check-square"></i><%= link_to task.title, task_path(task)%>
          <%= link_to task_path(task),
          method: "delete",
          data: { confirm: "Are you sure you want to delete this task?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %></li>
        <% else %>
        <li><i class="far fa-square"></i><%= link_to task.title, task_path(task)%>
          <%= link_to task_path(task),
          method: "delete",
          data: { confirm: "Are you sure you want to delete this task?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %></li>
        <% end%>
      <% end %>
    </ul>
  </div>
  <div class="button">
    <%= link_to new_task_path do %>
      <i class="fas fa-plus"></i>
      <%= content_tag :p, "Add a new task"%>
    <% end %>
  </div>
</div>

