<div class="container">
  <div class="d-inline-flex justify-content-between task-header">
  <h1><%= @task['title'] %></h1>
  <div class="button-edit">
     <%= link_to edit_task_path do %>
       <i class="far fa-edit"></i>
       <%= content_tag :p, "Edit task"%>
     <% end %>
   </div>
  </div>

  <div class="description">
    <%= @task['details'] %>
  </div>

  <div class="completed">
    <% if @task['completed'] == true %>
      <p><i class="far fa-check-square"></i> This task is completed</p>
    <% else %>
      <p><i class="far fa-square"></i> This task as not been completed yet</p>
    <% end%>
  </div>
  <div class="button">
    <%= link_to tasks_path do %>
      <i class="fas fa-undo-alt"></i>
      <%= content_tag :p, "Back to list"%>
    <% end %>
  </div>
</div>

